.outer-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;

    .left-section {
        display: block;
    
        p {
            font-size: 18px;
            text-align: justify;
        }

        .interests-container {
            position: relative;
            display: flex;
            align-items: left;
            justify-content: left;
            gap: 30px;
            margin-right: 50px;
        }

        fa-icon {
            position:relative;
            font-size: 2.5rem;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .right-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px;
        text-align: justify;

        img {
            display: block;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            border: 3px solid #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            margin: 0 auto 20px;
        }

        .profile-links {
            display: flex;
            justify-content: center;

            a{
                display: inline-block;
                margin: 0 20px;
                font-size: 3rem;
                color: #000;
                transition: all 0.2s ease-in-out;

                &:hover {
                    color: #007bff;
                }
            }
        }
    }
}