/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
 
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

@font-face {
    font-family: 'nav-items';
    src: url('./assets/Fonts/Caveat/Caveat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'nav-name';
    src: url('./assets/Fonts/Caveat/static/Caveat-Bold.ttf');
}

.text-margins {
    margin-left: 10%;
    margin-right: 10%;
}


